body
{
    padding-left:15%;
    font-family:Camphor, Open Sans, Segoe UI, sans-serif;
    background-color: whitesmoke;
    text-align: center;
    width: 70%;
    line-height: 170%;
}

.top
{
    text-align:right;
    padding-right: 0px;
    padding-left:50px;
    font-size: large;
    color: black;
    font-weight: 600;
}

.button:link, button:visited {
    
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

    