{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Transaction Type</th>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope ="col">Date</th></th>
    </tr>
  </thead>
  <tbody>
    {% for row in transactions %}
        <tr>
          <td>{{ row["transaction_type"] }}</td>
          <td>{{ row["symbol"] }}</td>
          <td>{{ row["shares"] }}</td>
          <td>@ ${{ "{:.2f}".format(row["price"]) }} (${{ "{:.2f}".format(row["price"]*row["shares"]) }})</td>
          <td>{{ row["date"] }}</td>

        </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
